*{
    font-family: poppins;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
}

/* =========Hero section========= */
.flexible-container{
    display: flex;
}
.hero-text{
    width: 50%;
    margin-top: 140px;
    padding: 15px;
}
.hero-text h1{
    font-size: 44px;
    color: rgb(34, 34, 34);
}
.text-design{
    color: #13B474;
}
#hero-p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
    
}

.cta{
    background-image: linear-gradient(#13B474,#018951);
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.hero-image{
    width: 50%;
    padding: 15px;
}
.hero-image img {
    width: 100%;
}
/* =========/Hero section========= */

/* =========About US section========= */
.aboutUs{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0;
}
.about-image{
    width: 50%;
    padding: 30px 20px 0;
}
.about-image img {
    width: 100%;
}
.about-text{
    width: 50%;
    padding: 10px 20px;
    margin: 80px 0 30px;    
}
.about-text h1{
    font-size: 44px;
    margin-bottom: 50px;
     
}
#about-p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

/* =========/About us section========= */

/* =========Food catagory section========= */

.catagory{
    margin: 100px 0;
}
.catagory-text{
    text-align: center;
    font-size: 44px;
    margin-bottom: 20px;
}
#catagory-p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.card{
    width: 30%;
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.12);;
    border-radius: 30px;
    padding: 10px;
}

.fruit-image img{
    width: 100%;
}
.fruit-text{
    padding: 10px;
    margin-top: 10px;
}

.veg-image img{
    width: 100%;
}
.veg-text{
    padding: 10px;
    margin-top: 10px;
}

.meat-image img {
    width: 100%;
}
.meat-text{
    padding: 10px;
    margin-top: 10px;
}
.card-text{
    margin-top: 20px;
}

/* =========/Food catagory section========= */
